.header {
    position: relative;

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 29px 0;
        z-index: 2;

        @media(max-width: $breakpoint768) {
            padding: 20px 0;
        }
        @media(max-width: $breakpoint480) {
            padding: 16px 0;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__btn {
        font-weight: 500;
        font-size: 18px;
        line-height: 133%;
        color: #fff;

        border-radius: 100px;
        padding: 11px 25px;
        background: $secondary-color;
    }
}

.logo {
    
}
