.menu-nav {
    display: flex;
    align-items: center;
    gap: 4px;

    border-radius: 100px;
    backdrop-filter: blur(4px);
    background: #f2f4f5;
    padding: 4px;

    &__item {
        display: flex;
    }

    &__link {
        display: block;

        padding: 7px 20px;
        border-radius: 100px;
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        letter-spacing: -0.02em;
        text-align: center;
        color: $accent-color;

        &--active {
            color: $secondary-color;
            background: #fff;
        }
    }
}